body{
    background-color: #212121;
}

h1{
    color: #fff;
}

span{
    color: #fff;
}

#container{
    max-width: 600px;
    margin: 0 auto;
}

.square{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%
}